.img__news {
  width: 80px;
  height: 80px;
  border-radius: 14px;
}

.img__pc-v {
  max-width: 100% !important;
  min-height: 100% !important;
  object-fit: cover !important;
}

/* 
https://www.youtube.com/embed/Mw4m1vtg0H4

https://www.youtube.com/watch?v=Mw4m1vtg0H4 */
